<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <style>
            h1{
                color: #09253C;
                font-size: 20px;
            }
            p{
                color: #333;
            }
            a{
                color: #0F8C64;
            }

        </style>
    </head>

    <body>
        <h1>
            Relatório de Consulta
        </h1>
        <p>Obrigado por utilizar nossa ferramenta. Verifique em anexo o relatório de sua consulta.</p>        
        <footer>
            <p>Acesse <a target='_blank' href='https://previsio.com.br'>nosso site</a>!</p>
        </footer>
    </body>
</html>